.main-nav {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 50px;
    padding: 0px;
    margin: 0px;
    top:0px;
    background-color: lightseagreen;
    box-shadow:0px 0px 7px 3px;
    z-index: 2;
    h1 {
        margin: 0px;
        margin-top: 10px;
        color:white;
        text-shadow: 1px 1px black;
    }
    .nav-info{
        display:flex;
        flex-direction: row;
        #points{
            padding-left: 10px;
        }
        h1{
            margin: 0px;
            margin-top: 10px;
            color:white;
            text-shadow: 1px 1px black;
        }
    }
    .nav-buttons{
        margin:0px;
        padding:0px;
        button {
            display: inline-block;
            border: none;
            padding: 0px 10px;
            margin: 0px;
            margin-top: 0px;
            text-decoration: none;
            font-family: "times";
            background: lightseagreen;
            color: white;
            text-shadow: 1px 1px black;
            font-size: 24px;
            cursor: pointer;
            text-align: center;
            height:100%;
        }
        button:hover{
            background: #17827d;
        }
        button:focus {
            outline: 1px solid #fff;
            outline-offset: -4px;
        }
    }
}

@media screen and (max-width: 750px) {
    .main-nav {
        h1 {
            margin-top: 15px;
            font-size: 18px;
        }
    }
    .nav-buttons{
        button {

            padding: 0px 5px;
            font-size: 18px;
        }
        button:hover{
        }
        button:focus {
        }
    }
}
