.playBoard{
    height: $tableSize;
    width: $tableSize*$sizeFactor;
    display: grid;
    background-color: lightcoral;
    grid-template-columns: repeat( $sizeFactor * $cellSize, 1fr);
    grid-template-rows: repeat($cellSize, 1fr);
    border: 2px solid blue;
}

/* cells */
.boardCell{
    background-color: lightcoral;
}
.boardCell:hover{
    background-color: lightgreen;
}

.pointsCell{
    background-color: white;
    border-radius: 50%;
    align-self: center;
    justify-self: center;
    height: 20%;
    width: 20%;
}

/* cells */
.wall{
    background-color: lightslategrey;
}
.exit{
    background-color: lightgreen;
}
.ghost{
    background-color: lightseagreen;
}
.packman{
    display: block;
    background: yellow;
    border-radius: 50%;
}

@media screen and (max-width: 1000px) {
    .playBoard{
        height: 3*$tableSize/4;
        width:  $tableSize+$tableSize/2;
    }
}

@media screen and (max-width: 750px) {
    .playBoard{
        height: $tableSize/2;
        width:  $tableSize;
    }
}