body {
  left: 0;
  margin-left: 0;
  padding: 0;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.playBoard {
  margin-top: 75px;
  height: 500px;
  width: 1000px;
  display: -ms-grid;
  display: grid;
  background-color: lightcoral;
  -ms-grid-columns: (1fr)[24];
      grid-template-columns: repeat(24, 1fr);
  -ms-grid-rows: (1fr)[12];
      grid-template-rows: repeat(12, 1fr);
  border: 2px solid blue;
}

/* cells */
.boardCell {
  background-color: lightcoral;
  z-index: 1;
}

.boardCell:hover {
  background-color: lightgreen;
}

.pointsCell {
  background-color: white;
  border-radius: 50%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  height: 20%;
  width: 20%;
  z-index: 1;
}

/* Base cells */
.wall {
  background-color: lightslategrey;
  z-index: 2;
}

.ghostLair {
  background-color: lightcoral;
  z-index: 1;
}

@media screen and (max-width: 1000px) {
  .playBoard {
    height: 375px;
    width: 750px;
  }
}

@media screen and (max-width: 750px) {
  .playBoard {
    height: 250px;
    width: 500px;
  }
}

.ghost {
  background-color: lightseagreen;
  border: 1px solid lightgrey;
  border-radius: 50% 50% 0% 0%;
}

.pacmanPosition {
  display: block;
  background: yellow;
  border: 1px solid lightgrey;
  border-radius: 50%;
  /*
    height: ($tableSize/$nCells)-($tableSize/$nCells)/10;
    width:($tableSize/$nCells)-($tableSize/$nCells)/10; 
    */
}

.main-nav {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  height: 50px;
  padding: 0px;
  margin: 0px;
  top: 0px;
  background-color: lightseagreen;
  -webkit-box-shadow: 0px 0px 7px 3px;
          box-shadow: 0px 0px 7px 3px;
  z-index: 2;
}

.main-nav h1 {
  margin: 0px;
  margin-top: 10px;
  color: white;
  text-shadow: 1px 1px black;
}

.main-nav .nav-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.main-nav .nav-info #points {
  padding-left: 10px;
}

.main-nav .nav-info h1 {
  margin: 0px;
  margin-top: 10px;
  color: white;
  text-shadow: 1px 1px black;
}

.main-nav .nav-buttons {
  margin: 0px;
  padding: 0px;
}

.main-nav .nav-buttons button {
  display: inline-block;
  border: none;
  padding: 0px 10px;
  margin: 0px;
  margin-top: 0px;
  text-decoration: none;
  font-family: "times";
  background: lightseagreen;
  color: white;
  text-shadow: 1px 1px black;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  height: 100%;
}

.main-nav .nav-buttons button:hover {
  background: #17827d;
}

.main-nav .nav-buttons button:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

@media screen and (max-width: 750px) {
  .main-nav h1 {
    margin-top: 15px;
    font-size: 18px;
  }
  .nav-buttons button {
    padding: 0px 5px;
    font-size: 18px;
  }
}

.message {
  position: absolute;
  z-index: 9;
  padding: 50%;
  font-size: 72px;
  padding: 50px 100px;
  background: lightseagreen;
  color: white;
  text-shadow: 1px 1px black;
  border: 1px solid black;
  border-radius: 25px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#win {
  display: none;
}

#lose {
  display: none;
}

#stop {
  display: block;
}
/*# sourceMappingURL=style.css.map */